<link href="https://fonts.googleapis.com/css?family=Oswald:400,500,600,700" rel="stylesheet">

.body {
	margin: 0px;
	display: flex;
	width: 100%;
	min-height: 10%;
	background-color: grey;
	margin-bottom:1vh;
	justify-content: space-around;
}

.cabecera {
	display: flex;
	width: 100%;
	min-height: 10%;
	background-color: grey;
	margin-bottom:1vh;
	justify-content: space-around;
	align-items: center;
    font-family: 'Oswald', sans-serif;
	font-weight: 700;
}


.cabecera2 {
	display: flex;
	width: 100%;
	min-height: 10%;
	background-color: white;
	margin-bottom:1vh;
	justify-content: space-around;
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
}

.modelos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-around;
}


.footer {
	display: flex;
	width: 100%;
	min-height: 10%;
	background-color: grey;
	margin-bottom:1vh;
	justify-content: center;
	align-items: center;
    font-family: 'Oswald', sans-serif;
	font-weight: 700;
}

.icono{
	font-size: 40px;
	margin-right: 10px;
}


.elemRedSocial {
	display: flex;		
}



